/* 
general 
-------
*/

*{
  font-family: serif;
}

.logo-n {
  width: 80px;
  height: 80px;
}


body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #fff;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/* 
title holder
------------
*/
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: '';
  background: #815F70;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder2 {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder3 {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder4 {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder5 {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin-top: 30px;
}

.titleHolder6 {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin-top: 70px;
}

.titleHolder5:after {
  transform: translateX(-50%);
  content: '';
  background: #815F70;
  position: absolute;
  left: 50%;
  height: 3px;
  width: 50px;
}


.titleHolder2:after {
  transform: translateX(-50%);
  content: '';
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

.titleHolder6 h2 {
  font-size: 28px;
  margin: 0;
}

/* 
header
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.header .logo .fas {
  color: #815F70;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.btnheader-login{
  cursor: pointer;
  width: 120px;
  margin-left: 20px;
  background-color: #815F70;
  color: #fff;
  border: none;
}


.btnheader-kembali{
  cursor: pointer;
  width: 300px;
  margin-left: 20px;
  background-color: #815F70;
  color: #fff;
  border: none;
}

.btnheader-kembali:hover{
background-color: #a77a95;
}


.btnheader-login2{
  cursor: pointer;
  width: 180px;
  margin-left: 20px;
  padding: 10px;
  background-color: #815F70;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.header a:hover{
  color : #a77a95 !important;
}

.header .logo a {
  color: #333;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: #a77a95;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .mobileVisible .ant-anchor-link-active > .ant-anchor-link-title {
  color: #a77a95 !important;
}


.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}


.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #a77a95;
}

.header .ant-anchor-link-active > .ant-anchor-link-title {
  color: #a77a95;
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #a77a95 !important;
  width: 0.8px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #a77a95;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

/* 
hero & takethetest
---- 
*/
.heroBlock {
  background: url('assets/images/bg.png') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.heroBlock .container-fluid {
  display: block !important;
}


.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
  height: 100%;
}

.heroBlock .slick-dots li button {
  background: #000 !important;
}

.heroBlock .slick-dots li.slick-active button {
  background: #815F70 !important;
}

.btnheader-login:hover {
  color: #fff;
  background: #a77a95;
  border-color: #a77a95;
}

.heroBlock .content-bg-tp .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroBlock2 {
  background: url('assets/images/bg.png') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.heroBlock2 .container-fluid {
  display: block !important;
}

.heroBlock2 .ant-carousel,
.heroBlock2 .ant-carousel div {
  height: 100%;
}

.heroBlock2 .slick-dots li button {
  background: #000 !important;
}

.heroBlock2 .slick-dots li.slick-active button {
  background: #815F70 !important;
}

.heroBlock2 .content-bg-tp .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.content-bg-tp{
  max-width: 700px;
  background-color: #faeee9;
  opacity: 0.9;
  padding: 0 70px;

}

.content-bg-tp2{
  max-width: 1300px;
  background-color: #faeee9;
  opacity: 0.9;
  padding: 0 70px;
}

.content-takethetest{
  align-items: center;
  justify-content: center;
}


.content-bg-tp2 .content{
  max-width: 1300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.kecilinukuran{
  width: 60%;
}

.heroBlock h3 {
  font-size: 47px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  margin: 0 0 30px;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock button{
  background-color: #815F70;
  color: white;
  border: none;
  width: 60%;
  height: 160%;
}

.btnholder button:hover{
  background-color: #7F6070;
  color: #fff;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

.heroBlock2 h3 {
  font-size: 51px;
  margin-bottom: -7px;
  text-align: center;
}

.heroBlock2 h6{
  font-size: 20px;
  text-align: center;
}


.heroBlock2 p {
  margin: 0 0 30px;
  text-align: center;
  font-size: 16px;
}

.heroBlock2 .kalimat1{
  margin-top: 20px;
}

.heroBlock2 .kalimat2{
  margin-bottom: -5px;
}

.heroBlock2 .btnHolder {
  height: auto !important;
}

.heroBlock2 button{
  background-color: #815F70;
  border: none;
  width: 200px;
  height: 160%;
}

.takethetest{
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.takethetest:link{
  text-decoration: none;
}

.takethetest:hover{
  background-color: #a77a95;
}
.heroBlock2 .btnHolder button,
.heroBlock2 .btnHolder .fas {
  margin: 0 10px 0 0;
}

/* 
block
----- 
*/
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}

/* 
about
----- 
*/
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: #815F70;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

/* expertsystem */


  .expertsystem{
    text-align: center;
    margin-top: 150px;
    height: auto;
    margin-bottom: 40px;
  }

  .cobaemail{
    cursor: pointer;
    width: 200px;
    margin-left: 20px;
    background-color: #815F70;
    color: #fff;
    border: none;
  }

  .cobaemail:hover{
    background-color: #a77a95;
  }
  .expertsystem .container {
    text-align: center;
    margin: 20px;
  }
  .expertsystem .checkboxLabel {
    display: block;
    margin-bottom: 10px;
  }
  .pertanyaancontainer button {
    padding: 18px 40px;
    background-color: #7F6070;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
  }

  .btn-diagnosa{
    padding: 18px 40px;
    background-color: #7F6070;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
  }

  .pertanyaancontainer{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  }

  .pertanyaancontainer-inside{
    background-color: #f9e2b8 ;
    border-radius: 6px;
    box-shadow: 1px 1px 4px #b7b7b7;
      width: 50%;
      padding: 50px;
      
  }

  .pertanyaancontainer-inside2{
    background-color: #f9e2b8 ;
    border-radius: 6px;
    box-shadow: 1px 1px 4px #b7b7b7;
      width: 40%;
      padding: 50px;
      
  }

  .pertanyaancontainer-inside2 button{
    margin-top: 10px;
  }
  
  .pertanyaancontainer-inside2 button.ant-btn{
    margin-top: 10px;
    height: 50px;
  }

  .outside-diagnosacontainer{
    display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  }

.diagnosacontainer{
  width: 40%;
  height: auto;
}

.diagnosacontainer h2{
  font-weight: bold;
}

.diagnosacontainer button{
  padding: 20px;
}

.diagnosacontainer2 button{
  padding: 20px;
}

.diagnosacontainer h4{
  font-weight: bold;
}

.diagnosacontainer2{
  width: 60%;
  height: auto;
}

.diagnosacontainer2 h4{
  font-weight: bold;
}

  
  .pertanyaancontainer-inside2 button:hover{
    background-color: #847070;
    color: #fff;
  }

  .pertanyaancontainer-inside button:hover{
    background-color: #847070;
    color: #fff;
  }

  .pertanyaancontainer h3{
    font-size: 18px;
    font-weight: bold;
  }

  .pertanyaancontainer p{
    font-size: 20px;
  }

  .expertsystem h2{
    font-size: 25px;
  }

  
/* 
works/about us
------------
*/
.worksBlock {
  background: url('assets/images/bannerabout.png') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.worksBlock2 {
  background: url('assets/images/bannerabout.png') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
  height: 800px;
}

.worksBlock2 h2 {
  margin-top: 120px;
  color: #fff;
  font-size: 40px;
}

.worksBlock:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock2 .works-p-center{
  align-items: center;
  width: 700px;
  margin: auto;
}

.worksBlock2 .aboutus-verse .bibleverse{
  margin-top: -14px;
}

.worksBlock2:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock h2 {
  color: #fff;
}

.worksBlock .contentHolder {
  text-align: center;
}

.worksBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* 
faqs
----
*/
.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

/* 
pricing block
-------------
*/
.pricingBlock .ant-list {
  text-align: center;
}

.pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
  box-shadow: 0 0 12px 2px #f3f3f3;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.pricingBlock .ant-card-head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.pricingBlock .large {
  font-size: 38px;
  line-height: 1;
  margin: 0 0 20px;
}

.pricingBlock .fab {
  margin: 0 10px 0 0;
}

/* 
contact
-------
*/
.contactBlock .form {
  max-width: 300px;
  margin: auto;
}

.contactbox {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactbox label {
  display: block;
  margin-bottom: 5px;
}

.contactbox input,
textarea {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  align-items: center;
}

.titleHolder .contact-view{
  margin-top: 90px;
}

.contact-view h4{
  font-size: 16px;
}

.contact-view h5{
  font-size: 16px;
}

.error {
  color: red;
  margin-top: -7px;
  margin-bottom: 5px;;
}



.contactbox button {
  background-color: #815F70;
  color: #fff;
  padding: 10px 70px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.contactbox button:hover {
  color: #fff;
  background: #a77a95;
  border-color: #a77a95;

}

.formatasfooter {
  max-width: 640px;
  margin: auto;
  justify-content: center;
}

.contactbox{
  width: 100%;
}

.container-fluid2 {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  align-items: center;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}


/* login page */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 230px;
}

.loginContainer img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -18px;
  margin-bottom: 15px;
}


.loginBlock{
  background: url('assets/images/bglogin.png') no-repeat;
  background-size: cover;
}

.wholelogincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
  height: 660px;
}

.wholelogincontainer2 {
  background-color: #fff;
  max-width: 900px;
  border-radius: 8px;
  margin-top: 40px;
  padding: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loginContainer h3 {
  text-align: center;
}

.signOutButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.signOutButton:hover {
  background-color: #d32f2f;
}

/* Add any additional styling as needed */

/* Add any additional styling as needed */


/* 
footer
------
*/
.ant-layout-footer {
  background: #815F70 !important;
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .fas {
  color: #fff;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #c3c3d5;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
  .btnheader-kembali{
    margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }

  .contactbox input,
  textarea {
    width: 100%;
  }

  .pertanyaancontainer-inside{
    width: 310px;
  }

  .expertsystem h2{
    font-size: 20px;
    width: auto;
  }
  .btnheader-kembali{
    margin-top: 20px;
    }

  .expertsystem {
    height: auto;
    margin-bottom: 20px;
  }

  .pertanyaancontainer-inside2{
    width: 310px;
  }
  .pertanyaancontainer button {
    padding: 20px;
    background-color: #7F6070;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
  }

  .worksBlock2 .works-p-center{
    align-items: center;
    width: 300px;
    margin: auto;
  }

  
.heroBlock2 h3 {
  font-size: 40px;
  margin-bottom: -7px;
  text-align: center;
}

.heroBlock2 h6{
  font-size: 20px;
  text-align: center;
}


.heroBlock2 p {
  margin: 15px 0 30px;
  align-items: center;
  font-size: 16px;
  text-align: center;
}

.heroBlock h3 {
  font-size: 38px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.content{
  margin-top: 30px;
}
.content-bg-tp2{
  height: auto;
}

.kecilinukuran{
  width: 100%;
}

  
  
}
